<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device, initial-scale=1.0">
        <title>HOME</title>
        <link rel="stylesheet" href="/static/home.css">
</head>
<body>

<form action="/login" id="login"  mehotds="post">
    <label for="nome">NOME</label>
    <input type="text" name="nome" id="nome" requerid placeholder="digite seu nome"><br>
    <label for="senha" id="senha">SENHA</label>
    <input type="password" name="senha" id="senha" required placeholder="Digite sua senha">
    <button type="submit" id="btn_login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>ENTRAR

    </button>

</form>

</body>